{% extends 'base.html.twig' %}
{% trans_default_domain 'equipe' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
    {% include 'entreprise/modals/delete-multiple-entreprise.html.twig' %}
    {% include 'entreprise/modals/delete-one-entreprise.html.twig' %}

    <div class="container-perso">
            <div class="row">
                <div class="d-flex">
                    <h1>
                        {{ "equipes"|trans({}, "menu") }}
                    </h1>
                    <div class="ms-auto d-flex my-auto">
                        <div class="d-flex my-auto">
                            <h4 class="mt-auto mb-auto me-4">{{ "filtrer"|trans({}, 'messages') }}</h4>
                            {{ form_start(form, {'attr': {'class': 'd-flex w-100 align-items-center'}}) }}
                            {{ form_row(form.type, {'attr': {'class': 'me-2 form-select-perso w-auto my-auto'}}) }}
                            {{ form_row(form.recherche, {'attr': {'class': ' my-auto form-control'}}) }}
                            <button id="buttonSearch" type="submit">
                                <img src="{{ asset('/images/icons/search.png') }}" alt="recherche" />
                            </button>
                            {{ form_end(form) }}
                        </div>

                        <a
                                class="btn btn-default btn-orange"
                        >
                            <span>{{ "ajouter_equipe"|trans }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                {% if equipes|length > 0 %}
                    <table class="table" id="table">
                        <thead>
                        <tr>
                            <th class="title equipe_id_cell" scope="col">
                                {{ t("identifiant") }}
                            </th>
                            <th class="title equipe_libelle_cell" scope="col">
                                {{ t("libelle") }}
                            </th>
                            <th class="title equipe_eds_cell" scope="col">EDS</th>
                            <th class="title equipe_service_cell" scope="col">
                                {{ t("services") }}
                            </th>
                            <th class="equipe_replace_cell"></th>
                            <th class="entreprise_checkbox_cell">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="checkbox_all_delete"
                                />
                            </th>
                            <th class="entreprise_edit_cell"></th>
                            <th class="entreprise_trash_cell">
                                    <button
                                            type="submit"
                                            class="btn-trash"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modalDeleteMultipleEquipes"
                                            id="trash"
                                    >
                                        {% include 'icons/trash.html.twig' %}

                                    </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for equipe in equipes %}
                            {% include "/equipe/item.html.twig" with equipe %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <h1 class="mt-3 text-center">
                            {{ "aucune_equipe"|trans }}
                        </h1>
                {% endif %}
                {% include 'pagination/pagination.html.twig' with pages %}
            </div>
        </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('entreprise') }}

    {% endblock %}
{% endblock %}
